@import "./css/reset.css";
@import "./css/fee.css";
@import "./css/feeProfile.css";
@import "./css/login.css";

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }
.nav-item  a{
  color: white;
}
.nav-item >a:hover {
  color: rgb(212, 153, 43);
 }
.navbar-brand{
  font-size: 10pt;
  color: white;
}
footer{
  color:white;
}

