<!-- for fee menu Btn and CSS-->
<h2 class="feeTitle">FEE</h2>
<div class="feeContainer">
    <div class="feeSideBar">
        <ul id="feeList">
            <li><a href="#">Whiteboard</a></li>
            <li><a href="#">Job Search</a></li>
            <li><a href="#">Customer Profiles</a></li>
            <li><a href="#">Material Datasheets</a></li>
            <li><a href="#">Job Library</a></li>
            <li><a href="#">Engineering Procedures</a></li>
            <li><a href="#">Presentation & Articles</a></li>
        </ul>
    </div>
    <div class="addCustomer">
        <button>Add Customer</button>
        <ul>
            <li><a href="">Customer 1</a></li>
            <li><a href="">Customer 2</a></li>
        </ul>
    </div>
    <div class="customerContent">
        <h2>New Customer Information</h2>
        <div>
            <label for="customerName">Customer Name: </label>
            <input type="text" placeholder="Customer Name">
        </div>
        <div class="infoContainer">
            <p class="infoTitle">General:</p>
            <form action="">
                <textarea name="" id=""></textarea>
                <div class="filebox">
                    <label for="ex_file">Attach</label>
                    <input type="file" id="ex_file">      
                </div>     
            </form>
            <p class="infoTitle">Sales:</p>
            <form action="">
                <textarea name="" id=""></textarea>
                <div class="filebox">
                    <label for="ex_file">Attach</label>
                    <input type="file" id="ex_file">      
                </div>  
            </form>
            <p class="infoTitle">CAM / Product Engineering</p>
            <form action="">
                <textarea name="" id=""></textarea>
                <div class="filebox">
                    <label for="ex_file">Attach</label>
                    <input type="file" id="ex_file">      
                </div>  
            </form>

        </div>
        </div>
    </div>
</div>